---
- name: "Preflight - Fail if target host is not stable for this Role."
  fail:
    msg: "This role is not stable for the target operating system, {{ ansible_distribution }} {{ ansible_distribution_major_version }}."
  when: (ansible_distribution is not defined) or
        (ansible_distribution_version is not defined) or
        (ansible_distribution+" "+ansible_distribution_major_version not in nextcloud_stable_os)

- name: "Include OS Family specific Variables."
  include_vars: "{{ ansible_os_family }}.yml"

- name: "Run Certbot Role conditionally."
  include_role:
    name: thorian93.ansible_role_certbot
  when: (not nextcloud_create_self_signed_cert | bool) or (nextcloud_custom_cert | bool)

- name: "Check Nextcloud Installation."
  stat:
    path: "{{ nextcloud_web_dir }}/occ"
  register: nextcloud_occ_status

- name: "Get Installation Status of Nextcloud."
  shell: "sudo -u {{ apache2_http_user }} php occ status | grep installed"
  args:
    chdir: "{{ nextcloud_web_dir }}"
  when: "nextcloud_occ_status.stat.exists"
  changed_when: 'false'
  register: nextcloud_installed_status
  ignore_errors: 'true'

- name: "Register installation status."
  set_fact:
    nextcloud_installed: "{% if nextcloud_occ_status.stat.exists and 'installed: true' in nextcloud_installed_status.stdout %}true{% else %}false{% endif %}"

- name: "Include Nextcloud Installation Playbook."
  include_tasks: installation.yml
  when: not nextcloud_installed

- name: "Include Nextcloud Configuration Playbook."
  include_tasks: configuration.yml

- name: "Include TURN/STUN Server Playbook."
  include_tasks: turn_server.yml
  when: nextcloud_turn_enable | bool
